BasedOnStyle: Google

# Modifications for Tesseract.

# Only merge empty functions.
AllowShortFunctionsOnASingleLine: Empty
# Do not allow short if statements.
AllowShortIfStatementsOnASingleLine: false
IndentPPDirectives: AfterHash

# Default style for some settings.

AccessModifierOffset: -2
AllowShortLoopsOnASingleLine: false
# Enforce always the same pointer alignment.
DerivePointerAlignment: false
IncludeBlocks: Preserve
PointerAlignment: Right
SpacesBeforeTrailingComments: 1
