*~
# Windows
*.user
*.log
*.tlog
*.cache
*.obj
*.sdf
*.opensdf
*.lastbuildstate
*.unsuccessfulbuild
*.suo
*.res
*.ipch
*.manifest
vs2010/DLL_Debug/*
vs2010/DLL_Release/*
vs2010/LIB_Debug/*
vs2010/LIB_Release/*
vs2010/LIB_OpenCL_Release/*
vs2010/LIB_OpenCL_Debug/*



# Linux
# ignore local configuration
config.*
config/*
Makefile
Makefile.in
*.m4

# ignore help scripts/files
configure
libtool
stamp-h1
tesseract.pc
config_auto.h
doc/html/*
api/tesseract
training/ambiguous_words
training/classifier_tester
training/cntraining
training/combine_tessdata
training/dawg2wordlist
training/mftraining
training/set_unicharset_properties
training/shapeclustering
training/text2image
training/unicharset_extractor
training/wordlist2dawg
*.patch

# ignore compilation files
build/*
*/.deps/*
*/.libs/*
*.lo
*.la
*.o
*.Plo
*.a
*.class
*.jar

# tessdata
*.cube.*
*.tesseract_cube.*
*.traineddata

# OpenCL
tesseract_opencl_profile_devices.dat
kernel*.bin

# build dirs
/build*
/cppan
/.cppan
/win*
*.dll
*.exe
*.lnk
