[submodule "abseil"]
	path = abseil
	url = https://github.com/GerHobbelt/abseil-cpp.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/GerHobbelt/googletest.git
[submodule "test"]
	path = test
	url = https://github.com/GerHobbelt/tesseract-ocr-test.git
