name: dailyunittest

on:
  schedule:
    # every day
    - cron: 0 0 * * *

jobs:
  test-linux:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-18.04, ubuntu-20.04 ]
        compiler: [ g++, clang++ ]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
        
    - name: Install dependencies
      run: |
           sudo apt-get install autoconf-archive libleptonica-dev libpango1.0-dev -y
           sudo apt-get install cabextract -y

    - name: Setup
      run: |
           mkdir -p m4
           ./autogen.sh

    - name: Configure
      run: ./configure '--disable-shared' 'CXX=${{ matrix.compiler }}' 'CXXFLAGS=-g -O2'
      
    - name: Make and Install Tesseract and Training Tools
      run: |
           make training -j 8
           sudo make install training-install
      
    - name: Display Version
      run: |
           ${{ matrix.compiler }} --version
           tesseract -v
           lstmtraining -v
           text2image -v
      if: success() || failure()
        
    - name: Download fonts, tessdata and langdata required for tests
      run: |
           git clone https://github.com/egorpugin/tessdata tessdata_unittest
           cp tessdata_unittest/fonts/* test/testing/ 
           mv tessdata_unittest/* ../
      
    - name: Run Tesseract on phototest.tif and devatest.png
      run: |
           tesseract test/testing/phototest.tif -  --tessdata-dir ../tessdata
           tesseract test/testing/devatest.png - -l hin+eng  --tessdata-dir ../tessdata

    - name: Make and run Unit Tests
      run: |
           make check -j 4
      continue-on-error: true
      
    - name: Display Unit Tests Report
      run: |
           git log -1
           ls /Users/runner/work/testactions/testactions/test/testdata/
           cat unittest/test-suite.log
      if: always()

  test-homebrew:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-10.15, macos-11.0 ]
        compiler: [ g++, clang++ ]
        
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
        
    - name: install dependencies
      run: |
           brew install cabextract abseil
           brew install automake autoconf-archive
           brew install libarchive
           brew install leptonica
           brew install cairo pango
                      
    - name: Setup
      run: |
           mkdir -p m4
           ./autogen.sh
        
    - name: Configure
      run: |
           ./configure '--disable-shared' '--with-pic' 'CXX=${{ matrix.compiler }}' 'CXXFLAGS=-g -O2' 'PKG_CONFIG_PATH=/usr/local/opt/icu4c/lib/pkgconfig:/usr/local/opt/libarchive/lib/pkgconfig:/usr/local/opt/libffi/lib/pkgconfig'
        
    - name: Make Tesseract and Training Tools
      run: |
            make training
        
    - name: Install Tesseract and Training Tools
      run: |
           sudo make install
           sudo make training-install

    - name: Display Version
      run: |
           ${{ matrix.compiler }} --version
           tesseract -v
           lstmtraining -v
           text2image -v
      if: success() || failure()
        
    - name: Get fonts, tessdata and langdata required for unit tests
      run: |
           git clone https://github.com/egorpugin/tessdata tessdata_unittest
           cp tessdata_unittest/fonts/* test/testing/
           mv tessdata_unittest/* ../
            
    - name: Run Tesseract on phototest.tif and devatest.png
      run: |
           tesseract test/testing/phototest.tif -  --tessdata-dir ../tessdata
           tesseract test/testing/devatest.png - -l hin+eng  --tessdata-dir ../tessdata

    - name: Make and run Unit Tests
      run: |
           make check
      continue-on-error: true
      
    - name: Display Unit Tests Report
      run: |
           git log -1
           ls /Users/runner/work/testactions/testactions/test/testdata/
           cat unittest/test-suite.log
      if: always()
      
  test-macports:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-10.15 ]
        compiler: [ g++, clang++ ]
        
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
        
    - name: Install Macports
      run: |
        curl -LO https://raw.githubusercontent.com/GiovanniBussi/macports-ci/master/macports-ci; source ./macports-ci install
        
    - name: Install Dependencies
      run: |
           sudo port install autoconf autoconf-archive \
                  automake \
                  libtool \
                  pkgconfig \
                  leptonica 
           sudo port install cabextract abseil
           sudo port install cairo pango 
           sudo port install icu +devel
        
    - name: Setup
      run: |
           mkdir -p m4
           ./autogen.sh
        
    - name: Configure
      run: |
           ./configure  '--disable-shared' '--with-pic' 'CXX=${{ matrix.compiler }}' 'CXXFLAGS=-g -O2' 
        
    - name: Make
      run: |
           make
        
    - name: Make Training
      run: |
           make training
           sudo make install training-install
      
    - name: Display Version
      run: |
           ${{ matrix.compiler }} --version
           tesseract -v
           lstmtraining -v
           text2image -v
      if: success() || failure()

    - name: Get fonts, tessdata and langdata required for unit tests
      run: |
           git clone https://github.com/egorpugin/tessdata tessdata_unittest
           cp tessdata_unittest/fonts/* test/testing/
           mv tessdata_unittest/* ../
      
    - name: Run Tesseract on phototest.tif and devatest.png
      run: |
           tesseract test/testing/phototest.tif -  --tessdata-dir ../tessdata
           tesseract test/testing/devatest.png - -l hin+eng  --tessdata-dir ../tessdata

    - name: Make and run Unit Tests
      run: |
           make check
      continue-on-error: true
      
    - name: Display Unit Tests Report
      run: |
           git log -1
           ls /Users/runner/work/testactions/testactions/test/testdata/
           cat unittest/test-suite.log
      if: always()
      
